# Node dependencies
node_modules
/node_modules
**/node_modules
client/node_modules
server/node_modules
server/coverage
server/*.xml
package-lock.json

# Other common ignores
.env
.DS_Store
build/
dist/

node_modules/
node_modu