node_modules/
node_modules/.package-lock.json
node_modules/
.env
server/
server/
server/node_modules
server/coverage
server/*.xml
server/package-lock.json
server/package.json
server/db.js
server/server.js

